#test{
    display: none;
    width : 300px;
    height: 100px;
    background: gold;
    position: absolute;
    top: 50%;
    left: 50%;

}

.containe-r{
padding: 4px;
    margin: 20px;
    width: 270px;
    height: 22px;
    background-color: LimeGreen
}